.canvasContainer{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #1a1a1a,#666666,#757575,#ffffff,#ffffff);
    position: absolute;
    }

    .headContainer{
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 50px 20px 20px 20px ;
        right: 0;
    
        width: 650px;
        
        
        right: 0;
        left: auto;
        gap: 12px;
        z-index: 999;
    
       
      }



.title{
    background-color: aliceblue;
   
    font-family:"ABCDiatype";
    font-weight: 600;
   color: #000;
    justify-content: center;
    font-size: 15px;
    border: 0.7px solid black;
    letter-spacing: -0.7px;
    pointer-events: auto; 
   
    display: inline-flex;
  
    
  }
  
  .innertitle{
  
   
    width: 100%;
    height: 100%;
    padding: 3px;
    display: flex;
    justify-content: center;
    border: 0.9px solid black;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  
  
  }
  
  .innertitle:hover{
    border-radius: 0px;
  }
  
  .video{
    
    
    opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease-out;
  pointer-events: none;
  visibility: hidden;
  height: 0px;
  display: flex;
 
 
  }

  .videoShow {
    position: relative; 
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
    
    flex-direction: column;
    gap: 5px;
    height: auto;
  }
  
  
  .videoTitle{
    background-color: aliceblue;
    font-weight: 600;
    color: #000;
    font-family:"ABCDiatype";
    font-size: 22px;
    border: 0.5px solid black;
    letter-spacing: -0.7px;
    display: flex;
    justify-content: center;
  
  
  }
  
  .trapezoidRight{
    display: inline-block;
    width: 20px; /* 梯形的宽度 */
    height: 20px; /* 梯形的高度 */
    background-color: #000000; /* 梯形的颜色 */
    clip-path: polygon(0 0, 100% 40%, 100% 60%, 0% 100%);
    transform: translate(-10%, 20%);
  }
  
  .content{
    background-color: aliceblue;
    color: rgb(102, 102, 102);
    font-weight: 600;
    padding: 7px;
    font-family:"ABCDiatype";
    font-size: 15px;
    border: 0.5px solid black;
    letter-spacing: -0.7px;
    transition: all 0.3s ease-in-out;
    margin-top: -15px;
    max-height: 30vh;
    overflow: auto;
    
  }
  
  .albumList div:hover{
    padding: 10px 3px 10px 3px;
  }
  
  
  .point{
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color: orange;
    border-radius: 100%;
    transform: translate(25%, 10%);
  }
  
  .albumImage{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    border: 0.8px solid black;
    background-color: black;
    justify-content: center;
  }
  

  .closeButton{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
   

  }

  .closeButton:hover{
    animation: closeButton 1s ease-in-out forwards;
    border: none;
  }


  @keyframes closeButton{
    0%{
      transform: rotate(0deg);
      
      
    }
    50%{
      transform: rotate(90deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }

  .buttonInner{
    border: 1px solid black;
    width: 100%;
    height: 100%;
   
    border-radius: 100%;
  }

  .closeX {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;  /* 添加 flex 布局 */
    align-items: center;  /* 垂直居中 */
    justify-content: center;  /* 水平居中 */
  }
  
  .closeX::before,
  .closeX::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 1.5px;
    background-color: #000;
    transform-origin: center;  /* 将变换原点改为中心 */
  }
  
  .closeX::before {
    transform: rotate(45deg);  /* 简化变换 */
  }
  
  .closeX::after {
    transform: rotate(-45deg);  /* 简化变换 */
  }
  
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width: 768px) {
    .headContainer {
      left: 50%; /* 从屏幕的中间开始 */ 
      transform: translateX(-50%)  translateY(0%); /* 使容器水平居中 */
      right: auto; /* 取消右对齐 */
      width: 95vw;
    }
  
  
    
  }


  
  